* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
}

.navbar {
  background-color: #1f2937;
}

.logo,
.title {
  color: #f9faf8;
}

.logo {
  font-size: 24px;
  font-weight: 600;
}

ul a {
  text-decoration: none;
}

li,
.container-content p {
  font-size: 18px;
  list-style: none;
}

.title {
  font-size: 48px;
  font-weight: bolder;
}

.header-button,
.container-content,
a {
  color: #e5e7eb;
}

.header-button {
  background-color: #3882f6;
}