* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
}

.navbar {
  background-color: #1f2937;
}

.logo,
.title {
  color: #f9faf8;
}

.logo {
  font-size: 24px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

li,
.subtext {
  font-size: 18px;
  list-style: none;
}

.title {
  font-size: 48px;
  font-weight: bolder;
}

button,
.container-content,
a {
  color: #e5e7eb;
}

button {
  padding: 8px 16px;
  border-radius: 9%;
  border: none;
  font-weight: 550;
  background-color: #3882f6;
}

.call-button {
  border: 1px solid white;
}

.info-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.container2 img {
  border: 2px solid #3882f6;
  border-radius: 10%;
}

.inspire-quote {
  background-color: #e5e7eb;
}

.container2 {
  display: flex;
}