* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  line-height: 1.5;
}

.container img {
  max-height: 300px;
  width: 50%;
  padding-bottom: 20px;
  margin-right: -125px;
}

.body {
  background-color: #1f2937;
  /* min-height: 250px; */
  display: flex;
  flex-direction: column;
}

.logo,
.title,
.call {
  color: #f9faf8;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  padding-left: 133px;
}

a {
  text-decoration: none;
}

li,
.subtext,
.image-subtext {
  font-size: 18px;
  list-style: none;
}

.image-subtext {
  padding-bottom: 120px;
}

.title {
  font-size: 48px;
  font-weight: bolder;
  padding-bottom: 10px;
  line-height: 1;
}

button,
a,
.subtext,
.call-text,
.copy {
  color: #e5e7eb;
}

button {
  padding: 10px 20px;
  border-radius: .4rem;
  border: none;
  font-weight: 550;
  background-color: #3882f6;
  font-size: 16px;
  margin-top: 10px;
}

.call-button {
  border: 1px solid white;
}

.info-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  width: 100%;
  text-align: center;
}

.container2 img {
  border: 2px solid #3882f6;
  border-radius: 10%;
  margin-bottom: 10px;
}

.image-container img {
  height: 200px;
}

.image-container {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.inspire-quote {
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

sub {
  font-weight: bolder;
  font-size: 22px;
  padding-left: 50px;
  margin-left: 50px;
}

.container2 {
  display: flex;
  padding-top: 20px;
  gap: 38px;
  flex-wrap: wrap;
  justify-content: center;
}

.call-container {
  background-color: #3882f6;
  width: 75%;
  border-radius: 1rem;
  padding: 40px 100px;
  display: flex;
  justify-content: flex-end;
}

.footer {
  background-color: #1f2937;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 45px;
}

ul {
  display: flex;
  gap: 25px;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.container {
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 100px 0;
  justify-content: space-around;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  padding-right: 100px;
}

.image {
  margin-left: auto;
}

.quote-container {
  padding: 50px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.quote {
  text-align: center;
  padding: 100px 530px;
}

.call-to-action {
  display: flex;
  justify-content: center;
  padding: 80px;
}

.call-container-text {
  display: flex;
  flex-direction: column;
}

.call-button {
  margin-left: auto;
  font-weight: bold;
  font-size: 1rem;
  padding: 0 20px;
}

.footer {
  padding: 40px;
  text-align: center;
}